<header id="header">
  <nav class="navbar navbar-expand-xl navbar-ba">
    <a class="navbar-brand" href="index.html"
      ><img
        src="../../../assets/images/logo.png"
        alt="BookApp"
        class="img-fluid"
    /></a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="fas fa-bars"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">{{
            "Home" | translate: this.currentLanguage | async
          }}</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'/about'"
            routerLinkActive="router-link-active"
            >{{
              "ABOUT" | translate: this.currentLanguage | async | uppercase
            }}</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{
            "Contact Us" | translate: this.currentLanguage | async
          }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{
            "Our Services" | translate: this.currentLanguage | async
          }}</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'/privacypolicy'"
            routerLinkActive="router-link-active"
            >{{ "Privacy Policy" | translate: this.currentLanguage | async }}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'/termsandcondition'"
            routerLinkActive="router-link-active"
            >{{
              "Terms and conditions" | translate: this.currentLanguage | async
            }}</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            [value]="langList.EN"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >{{ currentLanguage }}</a
          >
          <ul
            class="dropdown-menu langDropdown"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a
                class="dropdown-item"
                [value]="langList.EN"
                (click)="handleDropDown($event.target)"
                >En</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                [value]="langList.DE"
                (click)="handleDropDown($event.target)"
                >De</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                [value]="langList.FR"
                (click)="handleDropDown($event.target)"
                >Fr</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                [value]="langList.IT"
                (click)="handleDropDown($event.target)"
                >It</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                [value]="langList.RU"
                (click)="handleDropDown($event.target)"
                >Ru</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <button
            class="button-ba"
            *ngIf="!isUserLoggedIn"
            type="submit"
            (click)="goToLogin()"
          >
            {{ "Sign in / Sign up" | translate: this.currentLanguage | async }}
          </button>

          <div *ngIf="isUserLoggedIn" class="userDetail">
            {{ userName }}
            <div class="logout">
              <i class="material-icons" (click)="logout()" title="Logout">
                exit_to_app
              </i>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
