<header id="header">
    <nav class="navbar navbar-expand-xl navbar-ba">
        <a class="navbar-brand" href="index.html"><img src="../../../assets/images/logo.png" alt="BookApp" class="img-fluid"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-bars"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/about'" routerLinkActive="router-link-active">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Our Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/privacypolicy'" routerLinkActive="router-link-active">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/termsandcondition'" routerLinkActive="router-link-active">Terms and conditions</a>
                </li>
                <li class="nav-item">

                    <button class="button-ba" *ngIf="!isUserLoggedIn" type="submit" (click)="goToLogin()">Login/Register</button>

                    <div *ngIf="isUserLoggedIn" class="userDetail">
                        {{ userName }}
                        <div class="logout">
                            <i class="material-icons" (click)="logout()" title="Logout">
                                exit_to_app
                            </i>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
    </nav>
</header>
