/* You can add global styles to this file, and also import other style files */
form{
    display: flex;
    flex-direction: column;
    width: 20%;
}
button{
    border:1px solid blue;
    color: white;
    background-color: blue;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px 15px;
    width: 100px;
    outline: none;
    cursor: pointer;
    
}
button:disabled{
    border:1px solid blue;
    color: white;
    background-color: blue;
    border-radius: 5px;
    margin-top: 5px;
    opacity: 0.8;
    cursor:not-allowed;
    padding: 5px 15px;
    width: 100px;
    outline: none;
    
}
body{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}