.forgetpasswordwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .main-content {
    border: 1px solid lightgray;
    border-radius: 10px;
    background: white;
    padding: 1em;
    margin: 1em;
    .inpArea {
    }
  }
}
