<!-- <div class="main-wraper app-content">
        <div class="project-detail-wraper">
          <div class="project-name-header">
            <div class="project-heading">
              PROFILE
            </div>
          </div>
    
          <div class="box">
            <div class="dash-box-content">
              <div class="dash-graph-large">
                <div class="box-header with-border">
                  <h2 class="box-title">Business Profile</h2>
                </div>
                <div class="box-body table-sec">
                  <div class="table-responsive   dashboard-table">
                    <table class="table mb-0">
                      <thead>
                        <th></th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Action</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <a href="">
                              <img src="../../../assets/images/salon.svg" />
                            </a>
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Enter Name"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Enter Address"
                            />
                          </td>
                          <td>
                            <i
                              class="fa fa-pencil edit-icon"
                              aria-hidden="true"
                            ></i>
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

<div class="profileOverlay">
  <div id="profileArea">
    <h2>Add Salon Details</h2>
    <form [formGroup]="submitSalonDetails" class="salonDetailSave">
      <input
        type="text"
        class="form-control fields"
        placeholder="Name"
        formControlName="name"
      />
      <!-- <input type="file" class="image" placeholder="image" id="imageUpload">
            <button class="btn btn-primary btn-sign-in "  (click)="uploadImage($event)">Upload</button> -->

      <input
        style="display: none"
        type="file"
        accept="image/*"
        (change)="uploadImage($event)"
        #fileInput
      />
      <button class="btn btn-primary btn-sign-in" (click)="fileInput.click()">Select File</button>

      <input
        type="text"
        class="form-control fields"
        placeholder="Contact"
        formControlName="contact"
      />
      <input
        type="text"
        class="form-control fields"
        placeholder="Address"
        formControlName="salonaddress"
      />
      <button
        class="btn btn-primary btn-sign-in"
        [disabled]="submitSalonDetails.invalid"
        (click)="submitSalon(submitSalonDetails.value)"
      >
        Submit
      </button>

      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"> </agm-marker>
      </agm-map>
    </form>
  </div>
</div>
