<app-header></app-header>
<section class="banner-section">
  <div class="booking-view">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="">
            <h4>{{ salonData.name }}</h4>
            <div class="rating-sec rating-detail">
              <!-- <i class="fa fa-star active-star " aria-hidden="true"></i>
              <i class="fa fa-star active-star " aria-hidden="true"></i>
              <i class="fa fa-star active-star " aria-hidden="true"></i>
              <i class="fa fa-star active-star " aria-hidden="true"></i>
              <i class="fa fa-star inactive-star " aria-hidden="true"></i> -->
              <!-- <star-rating-comp
                [starType]="'svg'"
                [readOnly]="true"
                [rating]="salonData.avgRatings"
              ></star-rating-comp> -->
            </div>
          </div>
          <div class="booking-view-left">
            <div class="booking-view-left-img">
              <img src="{{ salonData.image }}" />
            </div>

            <div class="booking-view-left-info">
              <ul>
                <li>
                  <h4
                    class="find"
                    title="Find direction on Google Maps"
                    (click)="findDirection()"
                  >
                    Direction
                  </h4>
                  <div class="">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>+{{ salonData.code }} {{ salonData.contact }}</span>
                  </div>
                </li>
                <li>
                  <div class="share">
                    <img src="../../../../assets/images/share.svg" />
                    <!-- <img src="../../../../assets/images/pin.svg"> -->
                    <h4>Share</h4>
                  </div>

                  <div class="reviews" (click)="getReviewRatings()">
                    <i class="fa fa-star active-star " aria-hidden="true"></i>
                    <span>Reviews</span>
                  </div>
                </li>
              </ul>
              <div class="working-days">
                <h5>Working Days</h5>
                <ul *ngFor="let item of salonAvailalbilityData">
                  <li>
                    <div class="date-sec ">
                      <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                      <h5>{{ item._id }}</h5>
                    </div>
                    <div class="time-sec" *ngIf="item.status">
                      <span> Open</span>
                    </div>
                    <div class="time-sec close-sec" *ngIf="!item.status">
                      <span style="color:purple;"> Closed</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="our-services">
            <h5>Our Services</h5>
            <div class="hair-sec" *ngFor="let item of salonCategoriesData">
              <h6 class="categoryName">{{ item.name }}</h6>
              <div class="hair-sec-inner">
                <div
                  class="hair-services"
                  *ngFor="let service of item.services"
                >
                  <div>
                    <img src="../../../../assets/images/Group 8177.svg" />
                  </div>
                  <div>
                    <h6>{{ service.servicename }}</h6>
                    <div class="dollar-req">{{ service.price }}</div>
                    <div class="min-req">{{ service.duration }} mins</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="overlay" *ngIf="isReviewShow">
    <div class="main-section scrollbar" id="style-3">
      <div class="img">
        <img
          (click)="dismissModal()"
          src="../../../../assets/images/close2.png"
          alt=""
          title="Close"
          class="closeImage"
        />
      </div>

      <div class="reviews" *ngFor="let item of salonStarRatings">
        <div class="imgSec">
          <img src="../../../../assets/images/user (1).png" alt="" />
        </div>
        <div class="commentSec">
          <div class="userName">
            <span>{{ item.firstName }}</span> <span>{{ item.lastName }}</span>
          </div>
          <div class="comment">{{ item.comments }}</div>
          <div class="ratings">
            <app-starrating [ratings]="item.ratings"></app-starrating>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
