<div class="wrapper">
  <app-header></app-header>
  <section class="banner-section">
    <div class="container">
      <mat-tab-group (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Upcoming">
          <div class="row">
            <div
              class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
              *ngFor="let item of bookingListData"
            >
              <mat-card>
                <div class="booking-grids">
                  <div class="upperSec">
                    <div class="imgArea">
                      <img src="item.image" alt="" />
                    </div>
                    <div class="detailArea">
                      <div class="date">{{ item.date | date }}</div>
                      <div class="salonName">
                        {{ item.name }}
                      </div>
                      <div class="rating-sec">
                        <app-starrating></app-starrating>
                      </div>
                      <div class="locaSec">
                        <img
                          src="../../../../assets/images/location-pin.svg"
                          alt=""
                        />
                        <span> {{ item.address }}</span>
                      </div>
                      <div class="lowerSec">
                        <div class="calendar">
                          <img
                            src="../../../../assets/images/calendar.svg"
                            alt=""
                          />
                          <span>
                            {{ item.date | date: "mediumDate" }}
                          </span>
                        </div>
                        <div class="time">
                          <img
                            src="../../../../assets/images/clock-circular-outline.svg"
                            alt=""
                          />
                          <span>{{ item.starttime }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Completed">
          <div class="row">
            <div
              class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
              *ngFor="let item of bookingListData"
            >
              <mat-card>
                <div class="booking-grids">
                  <div class="upperSec">
                    <div class="imgArea">
                      <img src="item.image" alt="" />
                    </div>
                    <div class="detailArea">
                      <div class="date">{{ item.date | date }}</div>
                      <div class="salonName">
                        {{ item.name }}
                      </div>
                      <div class="rating-sec">
                        <app-starrating></app-starrating>
                      </div>
                      <div class="locaSec">
                        <img
                          src="../../../../assets/images/location-pin.svg"
                          alt=""
                        />
                        <span> {{ item.address }}</span>
                      </div>
                      <div class="lowerSec">
                        <div class="calendar">
                          <img
                            src="../../../../assets/images/calendar.svg"
                            alt=""
                          />
                          <span>
                            {{ item.date | date: "mediumDate" }}
                          </span>
                        </div>
                        <div class="time">
                          <img
                            src="../../../../assets/images/clock-circular-outline.svg"
                            alt=""
                          />
                          <span>{{ item.starttime }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </section>
  <app-footer></app-footer>
</div>
