<div class="categoriesWrapper">
  <div class="actionButtons">
    <div class="headerArea">
      <app-header-text></app-header-text>
    </div>
    <div class="btnActionArea">
      <button
        class="btn btn-primary btn-sign-in"
        (click)="openAddCategoryModal()"
      >
        Add Category
      </button>
      <button
        class="btn btn-primary btn-sign-in"
        (click)="fetchArchivedCategoryList()"
      >
        Archived Categories
      </button>
    </div>
  </div>

  <!-- <Modal Popup for add categories start here> -->
  <div class="modalSection" *ngIf="isAddModal">
    <div class="modal-content-area">
      <div class="header">
        Add Category
      </div>
      <form [formGroup]="categoryForm">
        <label>Category Name:</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter Category Name"
          formControlName="name"
        />
      </form>
      <button
        class="btn btn-primary btn-sign-in"
        [disabled]="categoryForm.invalid"
        (click)="addCategory(categoryForm.value)"
      >
        Add
      </button>
      <button class="btn btn-primary btn-sign-in" (click)="dismissModal()">
        Cancel
      </button>
    </div>
  </div>

  <!-- <Modal Popup for add categories end here> -->

  <div class="modalSection" *ngIf="showArchived">
    <div class="modal-content-area">
      <div class="header">
        Archived Categories
      </div>
      <div class="table-responsive tablecustom">
        <div class="mat-elevation-z8" *ngIf="!noArchivedRecordsFound">
          <table mat-table [dataSource]="archivedCategoriesList">
            <!-- Position Column -->

            <!-- Name Column -->
            <ng-container matColumnDef="catname">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">{{ element.catname }}</td>
            </ng-container>

            <ng-container matColumnDef="isactive">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let element">
                <mat-slide-toggle
                  [checked]="element.isActive"
                  [disabled]="disabled"
                ></mat-slide-toggle>
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element">
                <div class="buttonArea">
                  <button
                    class="btn btn-primary btn-sign-in  btn-sec btn-awke"
                    (click)="awakeCategory(element)"
                  >
                    Awake
                  </button>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-paginator
            [length]="archivedCategoriesCount"
            [pageSize]="count"
            (page)="paginate($event)"
            [pageSizeOptions]="[5, 10, 15, 20]"
            showFirstLastButtons
          ></mat-paginator>
        </div>
        <div *ngIf="noArchivedRecordsFound" class="noRecords">
          <div class="noRec">No Records Found</div>
        </div>
      </div>
      <button class="btn btn-primary btn-sign-in" (click)="dismissModal()">
        Cancel
      </button>
    </div>
  </div>

  <div class="table-responsive tablecustom">
    <div class="mat-elevation-z8" *ngIf="!noRecordsFound">
      <table mat-table [dataSource]="categoriesList">
        <!-- Position Column -->

        <!-- Name Column -->
        <ng-container matColumnDef="catname">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.catname }}</td>
        </ng-container>

        <ng-container matColumnDef="isactive">
          <th mat-header-cell *matHeaderCellDef class="status-check">Status</th>
          <td mat-cell *matCellDef="let element">
            <mat-slide-toggle
              [checked]="element.isActive"
              [disabled]="disabled"
            ></mat-slide-toggle>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="status-check">Action</th>
          <td mat-cell *matCellDef="let element">
            <div class="buttonArea">
              <!-- <button
                    class="btn btn-primary btn-sign-in  btn-sec"
                    (click)="deleteCategory(element)"
                  >
                    Delete
                  </button> -->
              <div class="" (click)="deleteCategory(element)">
                <img
                  src="../../../../assets/images/delete.svg"
                  alt="Delete"
                  title="Delete Category"
                />
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [length]="adminCategoriesCount"
        [pageSize]="count"
        (page)="paginate($event)"
        [pageSizeOptions]="[5, 10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
    <div *ngIf="noRecordsFound" class="noRecords">
      <div class="noRec">No Records Found</div>
    </div>
  </div>
</div>
