<div class="categoriesWrapper">
  <div class="actionButtons">
    <div class="row">
      <div class="col-lg-6">
        <div class="headerArea">
          <app-header-text></app-header-text>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="btnActionArea">
          <button
            class="btn btn-primary btn-sign-in"
            (click)="openAddCategoryModal('add')"
          >
            Add Category
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- <Modal Popup for add categories start here> -->
  <div class="modalSection" *ngIf="isAddModal">
    <div class="modal-content-area">
      <div class="header">
        Add Category
      </div>
      <form [formGroup]="categoryForm">
        <label>Category Name:</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter Category Name"
          formControlName="name"
        />
      </form>
      <button
        *ngIf="!isShowUpdate"
        class="btn btn-primary btn-sign-in"
        [disabled]="categoryForm.invalid"
        (click)="addCategory(categoryForm.value)"
      >
        Add
      </button>
      <button
        *ngIf="isShowUpdate"
        class="btn btn-primary btn-sign-in"
        [disabled]="categoryForm.invalid"
        (click)="update(categoryForm.value)"
      >
        Update
      </button>
      <button class="btn btn-primary btn-sign-in" (click)="dismissModal()">
        Cancel
      </button>
    </div>
  </div>

  <!-- <Modal Popup for add categories end here> -->
  <input
    class="from-control search"
    (keyup)="applyFilter($event)"
    placeholder="Search"
  />
  <div class="table-responsive tablecustom">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Position Column -->

        <!-- Name Column -->
        <ng-container matColumnDef="catname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.catname }}</td>
        </ng-container>

        <ng-container matColumnDef="isactive">
          <th mat-header-cell *matHeaderCellDef class="status-check">Status</th>
          <td mat-cell *matCellDef="let element">
            <mat-slide-toggle
              [checked]="element.isActive"
              [disabled]="disabled"
            ></mat-slide-toggle>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="status-check">Action</th>
          <td mat-cell *matCellDef="let element">
            <div class="buttonArea">
              <div class="" (click)="deleteCategory(element)">
                <img
                  src="../../../../assets/images/delete.svg"
                  alt="Delete"
                  title="Delete Category"
                />
              </div>
              <div class="editBtn" (click)="openAddCategoryModal(element)">
                <img
                  src="../../../../assets/images/edit.svg"
                  width="16px"
                  alt="Update"
                  title="Update Category"
                />
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [length]="adminCategoriesCount"
        [pageSize]="count"
        (page)="paginate($event)"
        [pageSizeOptions]="[5, 10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
      <div *ngIf="noRecordsFound" class="noRecords">
        <div class="noRec">No Records Found</div>
      </div>
    </div>
  </div>
</div>
<app-loader *ngIf="isLoader"></app-loader>
