.profileOverlay {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: #333;
  opacity: 0.9;
  height: 100%;
  display: flex;
  width: 100%;
  z-index: 999;
  align-items: center;
  justify-content: center;

  #profileArea {
    padding: 10px;
    background-color: white;
    opacity: 1;
    width: 35%;
    z-index: 11;
    border-radius: 10px;
    .salonDetailSave {
      .field {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        .label {
          width: 40%;
          margin: 0;
        }
      }
      .fields {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 50%;
      }
      .image {
        display: none;
      }
    }

    .select-css {
      width: 50% !important;
    }

    .pendingApprovalArea {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .pendingText {
        text-align: center;
        // color: white;
        // background: transparent linear-gradient(90deg, #783a87 0%, #bc2e65 100%)
        //   0% 0% no-repeat padding-box;
        border-color: transparent;
        margin: 0;
      }
      .pendingGIF {
        height: 85px;
        width: 85px;
      }
    }
    h2 {
      font-size: 25px;
    }
    .btn-select-img {
      margin: 0;
    }
  }
}
.erroralert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  position: relative;
  padding: 5px 2px;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.phoneArea {
  width: 60%;
}
.editBtn {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
}
