.createPasswordWrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .main-content {
    padding: 1em;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 5px;
    form {
      display: flex;
      flex-direction: column;
      label {
      }
      .btnSbt {
        width: 100px;
      }
    }
  }
}
