<mat-tab-group (selectedIndexChange)="selectedIndexChange($event)">
  <mat-tab label="Ucoming Bookings"
    ><div class="check-spa-outer m-t-40">
      <div class="create-availabillity">
        <div class="mat-elevation-z8">
          <!-- <Modal Popup for add categories end here> -->
          <table mat-table [dataSource]="dataSource" matSort>
            <!-- Position Column -->
            <ng-container matColumnDef="bookingid">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Order Id
              </th>
              <td mat-cell *matCellDef="let element">{{ element.orderId }}</td>
            </ng-container>
            <!-- Name Column -->

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let element">
                {{ element.firstName }}<span class="space"></span
                >{{ element.lastName }}
              </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td mat-cell *matCellDef="let element">
                <span class="completed" *ngIf="element.isCompleted === true"
                  >Completed</span
                >
                <span class="completed" *ngIf="element.isActive === true"
                  >Active</span
                >
                <span class="completed" *ngIf="element.isCancelled === true">
                  Cancelled
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="service">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Service</th>
              <td mat-cell *matCellDef="let element">
                {{ element.servicename }}
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element" class="action-btns ">
                <a
                  title="Detaisl"
                  (click)="getDetails(element)"
                  class="delete-info"
                >
                  <img
                    title="Details"
                    src="../../../../assets/images/view.svg"
                    width="20px"
                  />
                </a>
                <button
                  (click)="completeAppointment(element)"
                  class="btn btn-sign-in bts"
                >
                  Complete
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-paginator
            [length]="bookingCount"
            [pageSize]="count"
            (page)="paginate($event)"
            [pageSizeOptions]="[5, 10, 15, 20]"
            showFirstLastButtons
          ></mat-paginator>
          <div *ngIf="noRecordsFound" class="noRecords">
            <div class="noRec">No Records Found</div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Completed Bookings">
    <div class="check-spa-outer m-t-40">
      <div class="create-availabillity">
        <div class="mat-elevation-z8">
          <!-- <Modal Popup for add categories end here> -->
          <table mat-table [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container matColumnDef="bookingid">
              <th mat-header-cell *matHeaderCellDef>Order Id</th>
              <td mat-cell *matCellDef="let element">{{ element.orderId }}</td>
            </ng-container>
            <!-- Name Column -->

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">
                {{ element.firstName }}{{ element.lastName }}
              </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let element">
                <span class="completed" *ngIf="element.isCompleted === true"
                  >Completed</span
                >
                <span class="completed" *ngIf="element.isActive === true"
                  >Active</span
                >
                <span class="completed" *ngIf="element.isCancelled === true">
                  Cancelled
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="service">
              <th mat-header-cell *matHeaderCellDef>Service</th>
              <td mat-cell *matCellDef="let element">
                {{ element.servicename }}
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element" class="action-btns ">
                <a
                  title="Detaisl"
                  (click)="getDetails(element)"
                  class="delete-info"
                >
                  <img
                    title="Details"
                    src="../../../../assets/images/view.svg"
                    width="20px"
                  />
                </a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-paginator
            [length]="bookingCount"
            [pageSize]="count"
            (page)="paginate($event)"
            [pageSizeOptions]="[5, 10, 15, 20]"
            showFirstLastButtons
          ></mat-paginator>
          <div *ngIf="noRecordsFound" class="noRecords">
            <div class="noRec">No Records Found</div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<div class="overlay" *ngIf="isModal">
  <div class="mainSection col-lg-6 col-md-6 col-sm-12">
    <div class="fields">
      <label>Name:</label>
      <div class="field">
        {{ appointmentDetails.firstName }} {{ appointmentDetails.lastName }}
      </div>
    </div>
    <div class="fields">
      <label>Attended By:</label>
      <div class="field">
        {{ appointmentDetails.empname }}
      </div>
    </div>
    <div class="fields">
      <label>Duration:</label>
      <div class="field">
        {{ appointmentDetails.duration }}
      </div>
    </div>
    <div class="fields">
      <label>OrderId:</label>
      <div class="field">
        {{ appointmentDetails.orderId }}
      </div>
    </div>
    <div class="fields">
      <label>Payment Type:</label>
      <div class="field">{{ appointmentDetails.paymentType }}</div>
    </div>
    <div class="fields">
      <label>Start Time:</label>
      <div class="field">{{ appointmentDetails.starttime }}</div>
    </div>
    <div class="fields">
      <label>End Time:</label>
      <div class="field">{{ appointmentDetails.endtime }}</div>
    </div>
    <div class="fields">
      <label>Amount:</label>
      <div class="field">{{ appointmentDetails.totalamount }}</div>
    </div>

    <div class="btnArea">
      <button class="btn btn-sign-in bts" (click)="dismissModal()">
        Close
      </button>
    </div>
  </div>
</div>
