<div class="main-wraper app-content">
    <div class="project-detail-wraper">
        <div class="project-name-header">

            <div class="project-heading">
                Manage Employee
            </div>
        </div>

        <div class="box">
            <div class="dash-box-content">
                <div class="dash-graph-large m25">

                    <div class="box-header with-border">
                        <h2 class="box-title">Manage Employee</h2>
                    </div>
                    <!-- <div class="box-body box-body-sec">
                        <select>
                                   <option>Select categories1</option>
                                   <option>Select categories2</option>
                                   <option>Select categories3</option>
                               </select>
                        <div class="services-sec">
                            <div class="btn-sec">
                                <button type="submit" class="btn btn-primary  btn-update btn-add" (click)="openModal()">Add</button>
                            </div>
                            <div class="btn-sec">
                                
                                <button type="submit" class="btn btn-primary  btn-update" (click)="openModal()">Update</button>

                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <label>Service Name: </label>
                        <h2>Lorem Ipsum</h2>
                    </div>
                    <div class="box-body">
                        <label> Service Description: </label>
                        <h2>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                            into electronic typesetting, remaining essentially unchanged</h2>
                    </div> -->


                </div>

            </div>


        </div>
    </div>
</div>