<app-header></app-header>
<section class="banner-section">
  <div class="salon-list">
    <div class="salon-list-inner">
      <div class="filterPref">
        <h4>Filters</h4>
        <button (click)="goToFilter()" class="btn btn-primary regBtn">
          RESET FILTER
        </button>
      </div>
      <input
        type="text"
        class="form-control searchInput"
        placeholder="Search"
        [(ngModel)]="searchTerm"
        (ngModelChange)="clearFilter()"
      />
    </div>
  </div>
  <div class="salon-info-outer">
    <div class="container">
      <div class="salon-filter">
        <h4>Salons</h4>
        <img
          src="../../../../assets/images/Hamburger.svg"
          (click)="openFilterModal()"
        />
      </div>

      <div class="row">
        <div class="noRecordsDiv" *ngIf="showNoRecords">
          <span>No Salons Found</span>
        </div>
        <!-- starthere -->
        <div class="col-md-12" *ngFor="let item of salonListingData">
          <div class="salon-list-info">
            <div class="row">
              <div class="col-md-4">
                <div class="salon-list-info-left">
                  <div class="salon-img">
                    <img src="{{ item.image }}" />
                  </div>

                  <div class="salon-info">
                    <h5>{{ item.name }}</h5>
                    <div class="rating-sec">
                      <app-starrating
                        [ratings]="item.avgRatings"
                      ></app-starrating>
                    </div>
                    <div class="location">
                      <img src="../../../../assets/images/location-pin.svg" />
                      <span>{{ item.address }}</span>
                    </div>
                    <button
                      (click)="showSalonDetails(item)"
                      class="btn btn-primary detailBtn"
                    >
                      Detail
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="salon-list-info-right">
                  <div *ngFor="let slot of item.slots">
                    <div class="time-slots" *ngIf="!slot.status">
                      <a
                        class="slotBox"
                        title="Pick Slot"
                        (click)="bookSlot(slot.time, item)"
                      >
                        {{ slot.time }}
                      </a>
                    </div>
                  </div>
                  <div *ngIf="!item.slots.length" class="noSlots">
                    No Slots Available
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="book-appointement-inner book-appointement-inner-sec">
      <button
        class="btn btn-sign-in"
        (click)="getAllSalons()"
        *ngIf="isShowCountButton"
      >
        Show More
      </button>
    </div>
    <div class="bookapp-rights">2020, Bookapp. All rights reserved</div>
  </div>
</section>

<div class="FilterOverlay" *ngIf="isShowFilterPopUp">
  <div class="mainSect col-lg-3 col-md-6 col-sm-12">
    <label class="sortBY">Sort By</label>
    <div class="price" (click)="sortByPrice()" title="Sort by price"></div>
    <div
      class="distance"
      (click)="sortByDistance()"
      title="Sort by distance"
    ></div>
  </div>
</div>

<app-footer></app-footer>
