<app-header></app-header>
<section class="banner-section">
  <div class="salon-list">
    <div class="salon-list-inner">
      <h4>Filters</h4>
      <div class="book-appointement-inner" (click)="goToFilter()">
        <label>Category</label>
        <input type="text" class="form-control" placeholder="Hair Cut" id="" />
        <img src="../../../../assets/images/category.svg" />
      </div>
      <div class="book-appointement-inner" (click)="goToFilter()">
        <label>Date</label>
        <input type="text" class="form-control" placeholder="Hair Cut" id="" />
        <img src="../../../../assets/images/calendar.svg" />
      </div>
      <div class="book-appointement-inner" (click)="goToFilter()">
        <label>Location</label>
        <input type="text" class="form-control" placeholder="Hair Cut" id="" />
        <img src="../../../../assets/images/location-pin.svg" />
      </div>
      <!-- <div class="book-appointement-inner">
                <button class="btn btn-primary btn-submit-sec" type="submit"> LOGIN / REGISTER </button>
            </div> -->
    </div>
  </div>
  <div class="salon-info-outer">
    <div class="container">
      <div class="salon-filter">
        <h4>Salons</h4>
        <img src="../../../../assets/images/Hamburger.svg" />
      </div>
      <div class="row">
        <!-- starthere -->
        <div class="col-md-12" *ngFor="let item of salonListingData">
          <div class="salon-list-info" (click)="showSalonDetails(item)">
            <div class="row">
              <div class="col-md-4">
                <div class="salon-list-info-left">
                  <div class="salon-img">
                    <img src="{{ item.image }}" />
                  </div>

                  <div class="salon-info">
                    <h5>{{ item.name }}</h5>
                    <div class="rating-sec">
                      <star-rating-comp
                        [starType]="'svg'"
                        [readOnly]="true"
                        [rating]="item.avgRatings"
                      ></star-rating-comp>
                    </div>
                    <div class="location">
                      <img src="../../../../assets/images/location-pin.svg" />
                      <span>{{ item.address }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="salon-list-info-right">
                  <div *ngFor="let slot of item.slots">
                    <div class="time-slots" *ngIf="!slot.status">
                      <a>
                        {{ slot.time }}
                      </a>
                    </div>
                  </div>
                  <!-- <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                </div>
                <div class="salon-list-info-right mb-0">
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- endhere -->

        <!-- <div class="col-md-12">
          <div class="salon-list-info">
            <div class="row">
              <div class="col-md-4">
                <div class="salon-list-info-left">
                  <div class="salon-img">
                    <img src="../../../../assets/images/surface1.svg" />
                  </div>

                  <div class="salon-info">
                    <h5>Beauty and Spa</h5>
                    <div class="rating-sec">
                      <i class="fa fa-star active-star " aria-hidden="true"></i>
                      <i class="fa fa-star active-star " aria-hidden="true"></i>
                      <i class="fa fa-star active-star " aria-hidden="true"></i>
                      <i class="fa fa-star active-star " aria-hidden="true"></i>
                      <i
                        class="fa fa-star inactive-star "
                        aria-hidden="true"
                      ></i>
                    </div>
                    <div class="location">
                      <img src="../../../../assets/images/location-pin.svg" />
                      <span>#324, Thameson Street</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="salon-list-info-right">
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                </div>
                <div class="salon-list-info-right">
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="col-md-12">
          <div class="salon-list-info">
            <div class="row">
              <div class="col-md-4">
                <div class="salon-list-info-left">
                  <div class="salon-img">
                    <img src="../../../../assets/images/surface1.svg" />
                  </div>

                  <div class="salon-info">
                    <h5>Beauty and Spa</h5>
                    <div class="rating-sec">
                      <i class="fa fa-star active-star " aria-hidden="true"></i>
                      <i class="fa fa-star active-star " aria-hidden="true"></i>
                      <i class="fa fa-star active-star " aria-hidden="true"></i>
                      <i class="fa fa-star active-star " aria-hidden="true"></i>
                      <i
                        class="fa fa-star inactive-star "
                        aria-hidden="true"
                      ></i>
                    </div>
                    <div class="location">
                      <img src="../../../../assets/images/location-pin.svg" />
                      <span>#324, Thameson Street</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="salon-list-info-right">
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                </div>
                <div class="salon-list-info-right">
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="col-md-12">
          <div class="salon-list-info">
            <div class="row">
              <div class="col-md-4">
                <div class="salon-list-info-left">
                  <div class="salon-img">
                    <img src="../../../../assets/images/surface1.svg" />
                  </div>

                  <div class="salon-info">
                    <h5>Beauty and Spa</h5>
                    <div class="rating-sec">
                      <i class="fa fa-star active-star " aria-hidden="true"></i>
                      <i class="fa fa-star active-star " aria-hidden="true"></i>
                      <i class="fa fa-star active-star " aria-hidden="true"></i>
                      <i class="fa fa-star active-star " aria-hidden="true"></i>
                      <i
                        class="fa fa-star inactive-star "
                        aria-hidden="true"
                      ></i>
                    </div>
                    <div class="location">
                      <img src="../../../../assets/images/location-pin.svg" />
                      <span>#324, Thameson Street</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="salon-list-info-right">
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                </div>
                <div class="salon-list-info-right">
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                  <div class="time-slots">
                    <a href="">
                      8:30 am
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="book-appointement-inner book-appointement-inner-sec">
      <button class="btn btn-primary btn-submit-sec" type="submit">
        SHOW MORE
      </button>
    </div>
    <div class="bookapp-rights">2020, Bookapp. All rights reserved</div>
  </div>
</section>

<app-footer></app-footer>
