
<div class="login-section">

    <div class="login-section-inner">
<div class="login-left">
<img src="../../../assets/images/logo.svg">
</div>
<div class="login-right">
    <form>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="InputEmail">Email address</label>
                        <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp"
                            placeholder="Enter email">

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="InputPassword">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1"
                            placeholder="Password">
                    </div>
                </div>
                <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-sign-in">SIGN IN</button>
                    </div>
                <div class="col-md-12">
                    <div class="sign-up">
                       Don't have an account ?  <a href="">SIGN UP</a>
                    </div>
                </div>
              
            </div>
        </form>
</div>
     


    </div>
</div>