<div class="check-spa-outer">
    <div class="employee-tabs">
    </div>
    <div class="create-availabillity">
        <div class="create-availabillity-inner">
            <div class="employee-sec">
                <h4>Create Availability </h4>

            </div>
        </div>
        <div class="add-employees-inner">

            <div class="col-md-12 table-responsive">

                <table class="table table-custom ">
                    <tr>
                        <td></td>
                        <td>Days </td>
                        <td>Morning </td>
                        <td>Evening</td>
                    </tr>
                    <tr *ngFor="let data of allDaysData; let i = index">
                        <td>
                            <div class="custom-control custom-checkbox chk-custom ">
                                <input type="checkbox" class="custom-control-input" [(ngModel)]="data.status"
                                    id="customControlInline{{i}}">
                                <label class="custom-control-label" for="customControlInline{{i}}"></label>
                            </div>
                        </td>
                        <td>
                            <input type="hidden" class="form-control" [(ngModel)]="data.days">
                            <strong> {{data.days}} </strong>
                        </td>
                        <td>
                            <input [min]="min" class="setTime form-control fields"
                                (ngModelChange)="onOpenTimeSelect($event)" [(ngModel)]="data.opentime"
                                [owlDateTime]="dtPicker2" [owlDateTimeTrigger]="dtPicker2" placeholder="Open time" />
                            <owl-date-time [pickerType]="'timer'" #dtPicker2></owl-date-time>
                        </td>
                        <td>
                            <input [min]="min" class="setTime form-control fields"
                                (ngModelChange)="onCloseTimeSelect($event)" [(ngModel)]="data.closetime"
                                [owlDateTime]="dtPicker1" [owlDateTimeTrigger]="dtPicker1" placeholder="Close time" />
                            <owl-date-time [pickerType]="'timer'" #dtPicker1></owl-date-time>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="btn-sec">
                <input type="button" class="btn btn-save" value="SAVE" (click)="saveTimingForm()">
            </div>
        </div>
    </div>
</div>