<div class="check-spa-outer">
    <div class="employee-tabs">
    </div>
    <div class="create-availabillity">
        <div class="create-availabillity-inner">
            <div class="employee-sec">
                <h4>Create Availability</h4>
            </div>
        </div>
        <div class="add-employees-inner">
            <div class="col-md-12 table-responsive">
                <table class="table table-custom ">
                    <tr>
                        <td></td>
                        <td>Days </td>
                        <td>Morning </td>
                        <td>Evening</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox chk-custom ">
                                <input type="checkbox" class="custom-control-input" id="customControlInline">
                                <label class="custom-control-label" for="customControlInline"></label>
                            </div>
                        </td>
                        <td> <strong> Monday </strong></td>
                        <td>
                            <input type="text" class="form-control" placeholder="9:00 AM">
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="8:00 PM">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox chk-custom ">
                                <input type="checkbox" class="custom-control-input" id="customControlInline">
                                <label class="custom-control-label" for="customControlInline"></label>
                            </div>
                        </td>
                        <td><strong>Tuesday</strong></td>
                        <td>
                            <input type="text" class="form-control" placeholder="9:00 AM">
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="8:00 PM">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox chk-custom ">
                                <input type="checkbox" class="custom-control-input" id="customControlInline">
                                <label class="custom-control-label" for="customControlInline"></label>
                            </div>
                        </td>
                        <td><strong>Wednesday</strong></td>
                        <td>
                            <input type="text" class="form-control" placeholder="9:00 AM">
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="8:00 PM">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox chk-custom ">
                                <input type="checkbox" class="custom-control-input" id="customControlInline">
                                <label class="custom-control-label" for="customControlInline"></label>
                            </div>
                        </td>
                        <td><strong>Thursday</strong></td>
                        <td>
                            <input type="text" class="form-control" placeholder="9:00 AM">
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="8:00 PM">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox chk-custom ">
                                <input type="checkbox" class="custom-control-input" id="customControlInline">
                                <label class="custom-control-label" for="customControlInline"></label>
                            </div>
                        </td>
                        <td><strong>Friday</strong></td>
                        <td>
                            <input type="text" class="form-control" placeholder="9:00 AM">
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="8:00 PM">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox chk-custom ">
                                <input type="checkbox" class="custom-control-input" id="customControlInline">
                                <label class="custom-control-label" for="customControlInline"></label>
                            </div>
                        </td>
                        <td><strong>Saturday</strong></td>
                        <td>
                            <input type="text" class="form-control" placeholder="9:00 AM">
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="8:00 PM">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox chk-custom ">
                                <input type="checkbox" class="custom-control-input" id="customControlInline">
                                <label class="custom-control-label" for="customControlInline"></label>
                            </div>
                        </td>
                        <td><strong>Sunday</strong></td>
                        <td>
                            <input type="text" class="form-control" placeholder="9:00 AM">
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="8:00 PM">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="btn-sec">
                <input type="submit" class="btn  btn-save btn-cancel" value="CANCEL">

                <input type="submit" class="btn btn-save" value="SAVE">
            </div>
        </div>
    </div>
</div>