<div class="user-login-section">
    <div class="login-section-inner">
        <div class="login-left">
            <div class="login-left-info">
                <img src="../../../../assets/images/logo.svg" />
                <h2>Welcome!</h2>
                <div class="sign-in">Sign in to manage your listings and booking</div>
            </div>
            <div class="form-sec">
                <form>
                    <div class="max-width-sec">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="InputEmail">Mobile Number</label>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">+91</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Mobile Number">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary btn-get-otp">
                                    GET OTP
                    </button>
                            </div>
                            <div class="col-md-12">
                                <h5>or Login using social media</h5>
                                <div class="social-info">
                                    <a href="">
                                        <i aria-hidden="true" class="fa fa-facebook fb-icon"></i>
                                    </a>
                                    <a href="">
                                        <i aria-hidden="true" class="fa fa-google-plus google-icon"></i>
                                    </a>



                                </div>
                            </div>

                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary btn-get-otp btn-sign-apple">
                                    <img src="../../../../assets/images/company (2).svg">
                                    Sign in with Apple
                    </button>
                            </div>

                        </div>
                    </div>

                </form>
                <a href="" class="terms-privacy">Terms & Privacy Policy</a>
            </div>


        </div>
        <div class="login-right">
            <img src="../../../../assets/images/user-login-bg.png" />
        </div>
    </div>
</div>