<div class="wrapper">
  <app-header> </app-header>
  <div class="mainSection">
    <section class="app-info-section">
      <div class="app-info-inner">
        <div class="container">
          <div class="row">
            <div class="col-md-4 offset-md-2">
              <div class="app-info-img">
                <img src="../../../../assets/images/app-info.png" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="app-info">
                <h5>
                  {{
                    "THE APP IS NOW"
                      | translate: this.currentLanguage
                      | async
                      | uppercase
                  }}
                </h5>
                <h4>
                  {{
                    "AVAILABLE ON"
                      | translate: this.currentLanguage
                      | async
                      | uppercase
                  }}
                </h4>
                <img src="../../../../assets/images/Appstore.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <app-footer></app-footer>
</div>
