<div id="dashboardWrapper">
  <div id="navigationBar">
    <app-header></app-header>
  </div>

  <!-- <div class="hamburgerIcon" (click)="showSelection('data')">
    <div class="bar1" [ngClass]="isSelectorShown ? 'bar1' : 'change'"></div>
    <div class="bar2" [ngClass]="isSelectorShown ? 'bar2' : 'change'"></div>
    <div class="bar3" [ngClass]="isSelectorShown ? 'bar3' : 'change'"></div>
  </div> -->
  <div id="mainSection">
    <div
      class="selectorSection"
      [ngClass]="isSelectorShown ? 'selectorSection' : 'danger'"
    >
      <div class="menus-app">
        <a class="selectors" routerLink="dashboard" routerLinkActive="active"
          >Dashboard</a
        >
        <a class="selectors" routerLink="manage-admin" routerLinkActive="active"
          >Manage Admin</a
        >
        <a class="selectors" routerLink="salons" routerLinkActive="active"
          >Manage Salons</a
        >
        <a class="selectors" routerLink="users" routerLinkActive="active">
          Manage Users</a
        >
        <a class="selectors" routerLink="categories" routerLinkActive="active"
          >Manage Categories</a
        >
        <a class="selectors" routerLink="services" routerLinkActive="active"
          >Manage Services</a
        >
        <a class="selectors" routerLink="roles" routerLinkActive="active"
          >Manage Roles</a
        >
        <a class="selectors" routerLink="manage-plan" routerLinkActive="active"
          >Manage Plans</a
        >
        <a
          class="selectors"
          routerLink="subscribed-salons"
          routerLinkActive="active"
          >Subscribed Salons</a
        >
        <!-- <a class="selectors" routerLink="location" routerLinkActive="active"
          >Location   subscribed-salons</a
        > -->
      </div>
    </div>
    <div
      class="selectedSection"
      [ngClass]="isSelectorShown ? 'selectedSection' : 'fullShow'"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
