.header {
  box-shadow: 1px 0px 1px 1px #783a87;
  padding: 5px;

  .headerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    .logo {
      background-image: url('../../../../assets/images/logo.svg');
      width: 330px;
      height: 2em;
      background-repeat: no-repeat;
      position: relative;
    }
    .detailSection {
      display: flex;
      /* justify-content: space-between; */
      width: 50% !important;
      align-items: center;
      justify-content: flex-end;
      padding: 0;
      .profilePic {
      }
      .username {
      }
      .logoutbutton {
        .logout {
          height: 30px;
          width: 30px;
          border: 1px solid lightgray;
          border-radius: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 5px;
          cursor: pointer;

          #downArrow {
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            margin-bottom: 3px;
          }
        }

        .logoutItem {
          position: absolute;
          height: 20px;
          cursor: pointer;
          right: 2px;
          text-align: center;
          align-items: center;
          padding: 15px;
          box-shadow: 1px 2px 2px 1px lightgrey;
          background: white;
          border-radius: 5px;
          display: flex;
        }
      }
    }
  }
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background: transparent linear-gradient(90deg, #783a87 0%, #bc2e65 100%) 0% 0%
    no-repeat padding-box;
  border-color: transparent;
  margin: 2px 0;
  transition: 0.4s;
  cursor: pointer;
}
.bar1,
.bar2,
.bar3:hover {
  width: 35px;
  height: 5px;
  background-color: white;
  border-color: #783a87;
  margin: 2px 0;
  transition: 0.4s;
}

.hamburgerIcon {
  position: absolute;
  left: 220px;
  cursor: pointer;
  top: 7px;
}
.username {
  font-size: 14px;
}

@media screen and (max-width: 991px) {
  .header .headerSection .detailSection {
    display: none;
  }
}
// .bar1.change {
//   -webkit-transform: rotate(-45deg) translate(-9px, 6px);
//   transform: rotate(-45deg) translate(-9px, 4px);
// }

// .bar2.change {
//   opacity: 0;
// }

// .bar3.change {
//   -webkit-transform: rotate(45deg) translate(-8px, -8px);
//   transform: rotate(45deg) translate(-8px, -4px);
// }
