<div class="header">
  <div class="headerSection col-lg-12 col-sm-12 col-md-12">
    <div class="logo col-lg-6 col-sm-12 col-md-6" ></div>
    <div class="detailSection col-lg-6 col-sm-12 col-md-6">
      <div class="profilePic">
        <img src="" height="16" width="16" />
      </div>

      <div class="username">
        NADIM SHAH
      </div>
      <div class="logoutbutton">
       <div class="logout" (click)="showLogoutButton()">
           <span id="downArrow"></span>
        </div>
        <div class="logoutItem" *ngIf="showLogout" (click)="logout()" >Logout</div>
      </div>

    </div>
  </div>
</div>
