.header{
    box-shadow: 1px 2px 1px 2px lightgray;
    padding: 5px;

    .headerSection{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;


        .logo{
            background-image: url('../../../../assets/images/logo.svg');
            width: 200px;
            height: 2em;
            background-repeat: no-repeat;
          

        }
        .detailSection{

            display: flex;
            /* justify-content: space-between; */
            align-items: center;
            justify-content: flex-end;
            padding: 0;
            .profilePic{

            }
            .username{


            }
            .logoutbutton{
              

                .logout{
                    height: 35px;
                    width: 35px;
                    border: 1px solid lightgray;
                    border-radius: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 5px;
                    cursor: pointer;

                    #downArrow{

                        border: solid black;
                        border-width: 0 3px 3px 0;
                        display: inline-block;
                        padding: 3px;
                        transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);

                    }



                }
              
                .logoutItem{
                    position: absolute;
                    height: 20px;
                    cursor: pointer;
                    right: 2px;
                    text-align: center;
                    align-items: center;
                    padding: 15px;
                    box-shadow: 1px 2px 2px 1px lightgrey;
                    background: white;
                    border-radius: 5px;
                    display: flex;

                }


            }



        }



    }

}



