<div class="main-wraper app-content">
    <div class="project-detail-wraper">
        <div class="project-name-header">
            <div class="project-heading">
                Manage Service
            </div>
        </div>
        <div class="box">
            <div class="dash-box-content">

                <div class="dash-graph-large m25">
                    <div class="box-header with-border">
                        <h2 class="box-title">Manage Services & Prices</h2>
                    </div>
                    <div *ngIf="servicesList.count > 0">
                        <form [formGroup]="manageServiceForm" (ngSubmit)="updateSalonServe()">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Sl</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Price</th>
                                        <th>Duration</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let services of servicesList; let i = index">
                                        <td> <input type="checkbox" (change)="sendRequest(services.service._id,services.service.category_id, $event.target.checked,i)" [attr.data-index]="i" formControlName="service_id" value="{{services._id}}" [checked]="services.salonserviceinfo.length > 0"></td>
                                        <td>{{services.service.name}}</td>
                                        <td>{{services.service.description}}</td>
                                        <td><input type="text" class="form-control" formControlName="price" mask="0*.00" value="{{ (services.salonserviceinfo.length > 0) ? services.salonserviceinfo[0].price : '' }}" (input)="priceChange($event,services.service._id,i)"
                                                onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127)  return true; else if ( key < 48 || key > 57 ) return false; else return true;" />
                                            <!-- <div *ngIf="price.invalid && price.required" class="alert alert-danger">

                                                <div *ngIf="price.errors.required">
                                                    price is required.
                                                </div>

                                            </div> -->
                                        </td>
                                        <td><input type="text" class="form-control" formControlName="duration" value="{{ (services.salonserviceinfo.length > 0) ? services.salonserviceinfo[0].duration : '' }}" (input)="durationChange($event,services.service._id,i)"
                                                onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127)  return true; else if ( key < 48 || key > 57 ) return false; else return true;" />
                                            <!-- <div *ngIf="duration.invalid.required">
                                                duration is required.
                                            </div> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="button" class="btn btn-danger">Cancel</button>
                            </div>
                        </form>
                    </div>
                    <div *ngIf="servicesList.count == 0">
                        No Service Found
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>