<!-- <p>footer works!</p> -->
<section class="footer">
    <div class="footer-above">
        <img src="../../../../../assets/images/logo_white.png" />
        <div class="footer-links">
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">ABOUT</a></li>
                <li><a href="">DOWNLOAD</a></li>
                <li><a href="">HELP</a></li>
            </ul>
        </div>
        <div class="social-icons">
            <div class="icon-outer">
                <!-- <img src="../../../../../assets/images/facebook.png" /> -->
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
            <div class="icon-outer">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <!-- <img src="../../../../../assets/images/twitter.png" /> -->
            </div>
            <div class="icon-outer">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
                <!-- <img src="../../../../../assets/images/google.png" /> -->
            </div>
            <div class="icon-outer">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
                <!-- <img src="../../../../../assets/images/indeed.png" /> -->
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="reserved-sec">
            © All rights reserved | Bookapp, Inc.
        </div>
        <div class="terms-privacy">
            <a href="">Terms of Use</a> | <a href="">Privacy​ Policy</a>
        </div>
    </div>
</section>