.services-sec{
    display: flex;
}
.services-sec i{

    margin-top: 15px;
    margin-left: 15px;
    cursor: pointer;
}


.services-custom-modal {
    display: none;
    z-index: 2;
    background: white;
    position: absolute;
    width: 400px;
    min-height: 345px;
    padding: 25px;
    margin-bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 15px;
    top: 50%;
    transform: translateY(-50%);
   }
   .custom-modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1;
   }
   .services-custom-modal .custom-modal-img img{

    width: 12px;


    cursor: pointer;
    
   }

   .custom-modal-img{
    text-align: right;
   }
   .services-custom-modal input{
    font-size: 13px;
    border: 1px solid #D2D4DF;
    border-radius: 8px;
    color: #9595A1;
    height: 35px;
    font-family: 'Roboto';
   }
   .services-custom-modal label{

    font-size: 15px;
    color: #4D4D55;
    font-family: 'Roboto';
    font-weight: 500;
   }
   .services-custom-modal textarea{
    font-size: 13px;
    border: 1px solid #D2D4DF;
    border-radius: 8px;
    color: #9595A1;
    /* height: 35px; */
    font-family: 'Roboto';
    resize: none;
   }
   .services-modal{
       display: flex;
       align-items: center;
       justify-content: center;
   }
  




   
   

