@import '../../../../node_modules/angular-notifier/styles.scss';

.login-section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.login-section-inner {
  width: 595px;
  min-height: 400px;
  margin: 0 auto;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  border-radius: 8px;
  position: relative;
  /* padding: 25px 40px; */
  display: flex;
}

.login-section-inner .login-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: url(../../../assets/images/bg-left.png);
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}
.login-section-inner .login-left img {
  width: 50%;
}
.login-right {
  flex: 1;
  padding: 0 0 20px 0;
  padding: 25px 40px;
  display: flex;
  align-items: center;
}

.resetPassword {
  background: white;
  outline: none;
  border: 0;
  color: red;
}

.login-section-inner label {
  font-size: 15px;
  color: #4d4d55;
  font-family: 'Roboto';
}
.login-section-inner input {
  font-size: 13px;
  border: 1px solid #d2d4df;
  border-radius: 8px;
  color: #9595a1;
  height: 35px;
  font-family: 'Roboto';
}
.login-section-inner .btn-sign-in {
  width: 100%;

  border-color: transparent;
  transition: 0.5s;
  background-size: 200% auto;
  font-size: 13px;
  border-radius: 8px;
  height: 35px;
  font-family: 'Roboto';
  margin-top: 10px;
  background: transparent linear-gradient(90deg, #783a87 0%, #bc2e65 100%) 0% 0%
    no-repeat padding-box;
}
.login-section-inner .btn-sign-in:hover {
  /* background-position: right center; */
  background: transparent linear-gradient(90deg, #783a87 0%, #bc2e65 100%) 0% 0%
    no-repeat padding-box;
}
.login-section-inner .form-control:focus {
  border-color: #9c3ee8;
  outline: 0;
  box-shadow: 0 0 0 0 #9c3ee8;
}
.login-section-inner .form-group {
  margin-bottom: 10px;
}

.login-section-inner .btn-primary:not(:disabled):not(.disabled):active {
  background: transparent linear-gradient(90deg, #783a87 0%, #bc2e65 100%) 0% 0%
    no-repeat padding-box;
}
.sign-up {
  font-size: 12px;
  color: #4d4d55;
  font-family: 'Roboto';
  text-align: center;
  padding-top: 10px;
}
.sign-up a {
  color: rgb(201, 44, 95);
  text-decoration: none;
  padding-left: 10px;
}

@media (max-width: 991px) {
  .login-section-inner {
    display: block;
  }
  .login-section-inner .login-left {
    min-height: 225px;
  }
  .login-section-inner .login-left img {
    width: 35%;
  }
}
@media (max-width: 767px) {
  .login-section {
    align-items: inherit;
  }
}
