<header class="header-sec">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/images/logo_white.png" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleHeader()"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="material-icons text-white">
        menu
      </i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="profile"
            >PROFILE <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="add-employee"> EMPLOYEES</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="add-service"> SERVICES</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="booking">BOOKINGS</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="transactions">TRANSACTIONS</a>
        </li>
        <!-- <li class="nav-item notification-img">
          <a class="nav-link" href="#">
            <img src="../../../assets/images/Notification .svg" />
          </a>
        </li> -->

        <button
          mat-button
          [matMenuTriggerFor]="menu"
          class="logout-section-btn"
        >
          {{ salonData?.name }}
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">Log out</button>
        </mat-menu>
      </ul>
    </div>
  </nav>
</header>
