table {
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}

@media (max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
    color: purple;
  }
  td.mat-cell:first-of-type {
    padding-left: 10px;
  }
  td.mat-cell {
    padding: 10px;
    display: flex;
    width: 100%;
  }
  .suspend-sec {
    width: 25px;
  }
  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: flex-start;
  }
}
.can {
  margin: 0px;
}
