<div class="categoriesWrapper">
  <div class="actionButtons">
    <div class="row">
      <div class="col-lg-6">
        <div class="headerArea">
          <app-header-text></app-header-text>
        </div>
      </div>
    </div>
  </div>
  <input
    class="from-control search"
    (keyup)="applyFilter($event)"
    placeholder="Search"
  />
  <div class="table-responsive tablecustom">
    <div class="example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Position Column -->

        <!-- Name Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let element">
            <span class="mobile-label">Date:</span>
            {{ element.date | date: "longDate" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="salonname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Salon Name</th>
          <td mat-cell *matCellDef="let element">
            <span class="mobile-label">Salon Name:</span>
            {{ element.salonName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
          <td mat-cell *matCellDef="let element">
            <span class="mobile-label">User Name:</span>
            {{ element.userName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="orderid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Id</th>
          <td mat-cell *matCellDef="let element">
            <span class="mobile-label">Order Id:</span>
            {{ element.orderId }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="status-check">Action</th>
          <td mat-cell *matCellDef="let element">
            <span class="mobile-label">Action:</span>
            <div class="buttonArea">
              <button
                class="btn-primary btn-sign-in can"
                (click)="cancelBooking(element)"
              >
                Cancel
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [length]="totalCount"
        [pageSize]="count"
        (page)="paginate($event)"
        [pageSizeOptions]="[5, 10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
      <div *ngIf="noRecordsFound" class="noRecords">
        <div class="noRec">No Records Found</div>
      </div>
    </div>
  </div>
  <app-loader *ngIf="isLoader"></app-loader>
</div>
