table {
  width: 100%;
}
.btn-sus {
  margin-bottom: 5px;
}
.UserListWrapper {
  margin-top: 5px;
}
.headerSection {
  display: flex;
  align-items: center;
  padding-left: 20px;
  .header {
    color: purple;
  }
}

.suspend-sec {
  width: 20%;
  margin-left: 10px;
}

.userDetailsOverlay {
  position: fixed; /* Sit on top of the page content */
  //display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  .main-section-area {
    background-color: white;
    border-radius: 10px;
    opacity: 1;
    padding: 10px;
    margin: 10px;
    .header {
      border-bottom: 1px solid lightgray;
    }
    .main-section {
      margin-top: 10px;
      .field-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .profilePic {
          width: 100px;
          height: 100px;
          border: 1px solid lightgray;
          border-radius: 50px;
        }
        label {
          width: 20%;
        }
        .details {
          width: 75%;
          border: 1px solid lightgray;
          padding: 5px;
          margin-bottom: 5px;
          border-radius: 6px;
        }
      }
      .img {
        justify-content: center;
        margin-bottom: 10px;
      }
    }
    .btn-Area {
    }
  }
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}

@media (max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
    color: purple;
  }
  td.mat-cell:first-of-type {
    padding-left: 10px;
  }
  td.mat-cell {
    padding: 10px;
    display: flex;
    width: 100%;
  }
  .suspend-sec {
    width: 25px;
  }
  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: flex-start;
  }
}
