<form [formGroup]="salonForm">
<input type="text" formControlName="name" placeholder="Name">
<input type="text" formControlName="lat" placeholder="lat">
<input type="text" formControlName="long" placeholder="long">
<input type="text" formControlName="contact" placeholder="Contact">
<input type="file" formControlName="image" placeholder="Select an Image"(change)="handleFileInput($event.target.files)">
<button (click)="saveSalonDetails(salonForm.value)">Save</button>
</form>


<!-- 
        name:req.body.name,
        lat:req.body.lat,
        long:req.body.long,
        contact:req.body.contact,
        services:req.body.services,
        image:fs.readFileSync(req.files.userPhoto.path),
 -->