<div class="check-spa-outer add-service">
    <div class="employee-tabs">
    </div>
    <div class="create-availabillity">
        <div class="create-availabillity-inner">
            <div class="employee-sec">
                <h2>Add Service</h2>
            </div>
        </div>
        <div class="inner-tab-section">
            <div class="add-employees-sec">
                <form [formGroup]="serviceForm">
                    <div class="add-employees-detail">
                        <div class="add-employees-inner">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="select-employee mat-ddl">
                                        <mat-label>Select Category</mat-label>
                                        <mat-select formControlName="category_id"
                                            (selectionChange)='getServiceList($event)'>
                                            <mat-option *ngFor="let category of categoryList" [value]="category._id">
                                                {{category.catname}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <!-- <button type="button" class="btn btn-link">Add New</button> -->

                                </div>
                                <div class="col-md-4">
                                    <div class="add-btn ">
                                        <a (click)="addNewService()">
                                            <div class="add-employee-inner">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </div>
                                            <span> Add New</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="" formArrayName="services">
                            <div *ngFor="let service of serviceArray.controls; let i = index" [formGroupName]="i">
                                <div class="service-block row">
                                    <div class="col-md-4">
                                        <!-- <label class="custom-label">Services</label> -->
                                        <mat-form-field class="select-employee  mat-ddl">
                                            <mat-label>Select Service</mat-label>
                                            <mat-select formControlName="service_id" class="">
                                                <mat-option *ngFor="let service of servicesList" [value]="service.id">
                                                    {{service.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="custom-label">Price</label>
                                        <input type="text" formControlName="price"
                                            onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127)  return true; else if ( key < 48 || key > 57 ) return false; else return true;" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="custom-label">Duration</label>
                                        <input type="text" formControlName="duration"
                                            onkeypress="var key = window.event ? event.keyCode : event.which;if (event.keyCode == 8 || event.keyCode == 127)  return true; else if ( key < 48 || key > 57 ) return false; else return true;" />
                                    </div>
                                    <a href="javascript:void(0);" (click)="removeField(i)">
                                        <img _ngcontent-siu-c13="" class="close-icons"
                                            src="../../../../assets/images/delete-icon.svg">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="btn-sec">
                            <input type="button" class="btn btn-save btn-cancel" value="CANCEL" (click)="resetForm()">
                            <input type="submit" class="btn btn-save" value="SAVE"
                                (click)="saveService(serviceForm.value)">
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>