<div id="cards"></div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Sr.No</th>
        <th>Name</th>
        <th>Salon Address</th>
        <th>Contact</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of SalonRequestList;let i = index">
        <td>{{i+1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.salonaddress}}</td>
        <td>{{item.contact}}</td>
        <td>{{item.isActive}}</td>
        <td><button class="btn btn-primary btn-sign-in">Approve</button></td>
      </tr>
    </tbody>
  </table>
</div>
