<div id="cards">
  <div class="card">
    <span class="cardText">Salon Request</span>
    <h2 >{{limit}}</h2>
  </div>
  <div class="card">
      <span class="cardText">Active Salons</span>
      <h2 >{{ActiveSalonsCount}}</h2>
  </div>
  <div class="card">
      <span class="cardText">Users</span>
      <h2 >{{ActiveUsersCount}}</h2>
  </div>
</div>
<div class="headerSection"> <span class="breadCrumb"></span><app-header-text class="header"></app-header-text></div>
<div class="table-responsive tablecustom">
  <div class="mat-elevation-z8" *ngIf="!noRecordFound">
    <table mat-table [dataSource]="SalonRequestList">
      <!-- Position Column -->

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="salonaddress">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let element">{{ element.salonaddress }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="contact">
        <th mat-header-cell *matHeaderCellDef>Contact</th>
        <td mat-cell *matCellDef="let element">{{ element.contact }}</td>
      </ng-container>

      <ng-container matColumnDef="isactive">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          <mat-slide-toggle [checked]="element.isActive" [disabled]="disabled"></mat-slide-toggle>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element"><button class="btn btn-primary btn-sign-in" (click)="approveSalonRequest(element)">Approve</button>
          <button class="btn btn-primary btn-sign-in" (click)="declineSalonRequest(element)">Decline</button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
     
    </table>

    <mat-paginator
      [length]="limit"
      [pageSize]="count"
      (page)="paginate($event)"
      [pageSizeOptions]="[5, 10, 15, 20]"
      showFirstLastButtons
    ></mat-paginator>

  </div>
  <div *ngIf="noRecordFound" class="noRecords">
    <div class="noRec">  No Records Found</div>
  </div>


</div>


<!-- <div class="modalSection"  *ngIf="isDeleteDialog">
        <div class="modal-content-area">
                          <div><h1>Are you sure you want to delete?</div>
                            <div><p>warning you are about to delete role!</p></div>
                            <div class="yesNoBtn">
                                <button class="btn btn-primary btn-sign-in" (click)="confirm('yes')">Yes</button>
                                <button class="btn btn-primary btn-sign-in" (click)="reject('no')">No</button>
                            </div>
                      </div>
</div> -->