table {
  width: 100%;
}
#cards {
  display: flex;
  justify-content: space-between;

  .card {
    flex-grow: 1;
    z-index: 0;
    width: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background: transparent linear-gradient(90deg, #783a87 0%, #bc2e65 100%) 0%
      0% no-repeat padding-box;
    border-color: transparent;
    padding: 25px;
    .cardText {
      color: white;
      font-weight: 600;
      text-align: center;
      padding-top: 5px;
      font-size: 20px;
    }
    h2 {
      color: white;
    }
  }
}

#paginationCard {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .itemPerPage {
  }
  .paginator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    .pageNumber {
      padding: 2px 5px 2px 5px;
      font-size: 10px;
      border: 1px solid #783a87;
      align-items: center;
      display: flex;
      cursor: pointer;
      justify-content: center;
      border-radius: 5px;
    }
    .prevnextBtn {
      background: transparent linear-gradient(90deg, #783a87 0%, #bc2e65 100%)
        0% 0% no-repeat padding-box;
      border-color: transparent;
      color: white;
      border-radius: 10px;
    }
  }
}
.btn-sign-in {
  width: 50% !important;
  margin-bottom: 5px;
}
// .noRecords{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     .noRec{
//     text-align: center;
//     color: #721c24;
//     background-color: #f8d7da;
//     border: 1px solid #f5c6cb;
//     padding: 2em;
//     width: 50%;
//     }

// }
.tablecustom {
  margin-top: 15px;
}
.headerSection {
  display: flex;
  align-items: center;
  padding-left: 20px;
  .header {
    color: purple;
  }
}
.status-check {
  width: 120px;
}
.status-check-action {
  width: 240px;
}
.btnArea {
  display: flex;
  justify-content: center;
}

.userDetailsOverlay {
  position: fixed; /* Sit on top of the page content */
  //display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  .main-section-area {
    background-color: white;
    border-radius: 10px;
    opacity: 1;
    padding: 10px;
    width: 35%;
    .header {
      border-bottom: 1px solid lightgray;
    }
    .main-section {
      margin-top: 10px;
      .field-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .profilePic {
          width: 100px;
          height: 100px;
          border: 1px solid lightgray;
          border-radius: 50px;
        }
        label {
          width: 20%;
        }
        .details {
          width: 75%;
          border: 1px solid lightgray;
          padding: 5px;
          margin-bottom: 5px;
          border-radius: 6px;
        }
      }
      .img {
        justify-content: center;
        margin-bottom: 10px;
      }
    }
    .btn-Area {
    }
  }
}
.suspend-sec {
  width: 10%;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .main-section-area {
    width: 100%;
  }
}
