<div class="admin-manage-wrapper">
  <div class="header">
    <app-header-text></app-header-text>
    <div class="actionButtons">
      <button class="btn btn-primary btn-sign-in" (click)="openRegisterModal()">
        Register Admin
      </button>
    </div>
  </div>

  <div class="modalSection" *ngIf="isAddModal">
    <div class="modal-content-area col-lg-6 col-md-6 col-sm-9">
      <div class="header">
        {{ modalHeaderText }}
      </div>
      <form [formGroup]="registerAdminForm">
        <div class="register-sec">
          <label>Email:</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter Email"
            formControlName="email"
          />
          <div
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="error-show"
          >
            <div *ngIf="email.errors.required">
              Email is required.
            </div>
            <div *ngIf="email.errors.pattern">
              Enter Valid Email
            </div>
          </div>
        </div>
        <div class="register-sec">
          <label>Password:</label>
          <input
            type="password"
            class="form-control"
            placeholder="Enter Password"
            formControlName="password"
          />
          <div
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="error-show"
          >
            <div *ngIf="password.errors.required">
              Password is required.
            </div>
            <div *ngIf="password.errors.minlength">
              Password must be minimum 3 letters
            </div>
            <div *ngIf="password.errors.maxlength">
              Maximum allowed letters are 10
            </div>
          </div>
        </div>
      </form>
      <button
        class="btn btn-primary btn-sign-in"
        [disabled]="registerAdminForm.invalid"
        (click)="registerUser(registerAdminForm.value)"
      >
        Add
      </button>
      <button class="btn btn-primary btn-sign-in" (click)="dismissModal()">
        Cancel
      </button>
    </div>
  </div>

  <input
    class="from-control search"
    (keyup)="applyFilter($event)"
    placeholder="Search"
  />

  <div class="table-responsive tablecustom">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->

        <!-- Name Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element" class="valueField">
            {{ element.email }}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="isactive">
          <th mat-header-cell *matHeaderCellDef class="status-check">Status</th>
          <td mat-cell *matCellDef="let element">
            <mat-slide-toggle
              [checked]="element.isActive"
              [disabled]="disabled"
              [(ngModel)]="toggle"
              (change)="onChange($event)"
            ></mat-slide-toggle>
          </td>
        </ng-container> -->

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="status-check">Action</th>
          <td mat-cell *matCellDef="let element">
            <div class="buttonArea">
              <!-- <button
                class="btn btn-primary btn-sign-in  btn-sec"
                (click)="deleteAdmin(element)"
              >
                Delete
              </button> -->
              <div class="" (click)="deleteAdmin(element)">
                <img
                  src="../../../../assets/images/delete.svg"
                  title="Delete Admin"
                />
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [length]="adminCountTotal"
        [pageSize]="count"
        (page)="paginate($event)"
        [pageSizeOptions]="[5, 10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
      <div *ngIf="noRecordsFound" class="noRecords">
        <div class="noRec">No Records Found</div>
      </div>
    </div>
  </div>
</div>
<app-loader *ngIf="isLoader"></app-loader>
