.admin-manage-wrapper {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .actionButtons {
    }
  }
  .modalSection {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-content-area {
      background-color: white;
      border-radius: 10px;
      opacity: 1;
      padding: 10px;
      width: 30%;

      .header {
        font-size: 20px;
        border-bottom: 1px solid lightgray;
      }
      form {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        label {
          width: 45%;
          white-space: nowrap;
          margin: 5px;
          font-size: 18px;
          font-weight: 600;
          margin: 0;
        }
      }
    }
  }
}
